---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import { useI18n } from "../../i18n/utils";
import { authUtils } from "../../lib/nhost";
import Tile from "../../components/dashboard/Tile.astro";
import { getTimeSinceLastSession } from "../../lib/queries.ts";

const { t, lang } = useI18n(Astro);

const user = await authUtils.getUser();

const timeSinceLastSession = await getTimeSinceLastSession(lang);
---

<DashboardLayout user={user}>
  <div class="p-4 sm:p-6 lg:p-8 space-y-6">
    <div class="bg-card-bg-color p-6 rounded-lg shadow-md">
      <h1 class="text-2xl font-bold text-text-color">{t("dashboard.title")}</h1>
      {
        timeSinceLastSession && (
          <h3 class="text-sm text-text-color/60 mt-1">
            {t("dashboard.lastSession")}: {timeSinceLastSession}
          </h3>
        )
      }
      <p class="text-text-color/80 mt-1">
        {t("dashboard.welcomeBack")}{t("dashboard.welcomeMessage")}
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      <Tile
        title={t("dashboard.recentEntries.title")}
        description={t("dashboard.recentEntries.description")}
        buttonText={t("dashboard.recentEntries.button")}
        variant="primary"
      />

      <Tile
        title={t("dashboard.inventory.title")}
        description={t("dashboard.inventory.description")}
        buttonText={t("dashboard.inventory.button")}
        variant="secondary"
      />

      <Tile
        title={t("dashboard.discover.title")}
        description={t("dashboard.discover.description")}
      />

      <Tile variant="primary" />
    </div>
  </div>
</DashboardLayout>
