@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Primary Color Palette */
  --color-primary-50: #f0f7f3;
  --color-primary-100: #e1efea;
  --color-primary-200: #c3dfd4;
  --color-primary-300: #a5cfbe;
  --color-primary-400: #87bfa8;
  --color-primary-500: #69af92;
  --color-primary-600: #4a7c59; /* Base */
  --color-primary-700: #3b6347;
  --color-primary-800: #2c4a35;
  --color-primary-900: #1d3123;
  --color-primary-950: #111e16;

  /* Secondary Color Palette */
  --color-secondary-50: #e8eaf2;
  --color-secondary-100: #d1d5e6;
  --color-secondary-200: #a3aacd;
  --color-secondary-300: #757fb3;
  --color-secondary-400: #47559a;
  --color-secondary-500: #2f3e7a;
  --color-secondary-600: #1b2951; /* Base */
  --color-secondary-700: #162143;
  --color-secondary-800: #111935;
  --color-secondary-900: #0c1126;
  --color-secondary-950: #070a1a;

  /* Tertiary Color Palette */
  --color-tertiary-50: #f8f5f0;
  --color-tertiary-100: #f2ece1;
  --color-tertiary-200: #e5d9c3;
  --color-tertiary-300: #d8c6a5;
  --color-tertiary-400: #cab287;
  --color-tertiary-500: #bc9f69;
  --color-tertiary-600: #a38957;
  --color-tertiary-700: #8b6f47; /* Base */
  --color-tertiary-800: #685336;
  --color-tertiary-900: #463824;
  --color-tertiary-950: #2c2317;

  /* other colors */
  --color-info: var(--color-sky-300);
  --color-info-foreground: var(--color-sky-950);
  --color-success: var(--color-green-300);
  --color-success-foreground: var(--color-green-950);
  --color-warning: var(--color-amber-300);
  --color-warning-foreground: var(--color-amber-950);
  --color-error: var(--color-red-700);
  --color-error-foreground: var(--color-base-50);
}

@layer components {
  .btn-primary {
    @apply tracking-wide;
    border-radius: calc(infinity * 1px);
    background-color: var(--color-primary-600);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    box-shadow: var(--shadow-lg);
    .dark & {
      background-color: var(--color-secondary-500);
      color: var(--color-white);
    }
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-primary-700);
        scale: 1.05;
        transition: transform 0.3s;
      }
    }
  }
  .btn-secondary {
    @apply tracking-wide;
    border-radius: calc(infinity * 1px);
    background-color: var(--color-secondary-600);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-secondary-700);
        scale: 1.05;
        transition: transform 0.3s;
      }
    }
  }
}
