---
import ColorModeSwitcher from "./ui/ColorModeSwitcher.astro";
import Logo from "./ui/Logo.astro";

export interface NavLink {
  label: string;
  href: string;
}

export interface Props {
  navLinks?: NavLink[];
}

const {
  navLinks = [
    { label: "Our Mission", href: "#mission" },
    { label: "About", href: "#about" },
    { label: "Contact", href: "#contact" },
  ],
} = Astro.props;
---

<header class="backdrop-blur-md sticky top-0 z-50">
  <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
    <a href="/">
      <Logo />
    </a>
    <div class="hidden md:flex items-center space-x-8">
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            class="hover:underline hover:underline-offset-2 transition duration-300"
          >
            {link.label}
          </a>
        ))
      }
    </div>
    <div class="flex items-center space-x-2">
      <ColorModeSwitcher />
      <a
        href="#"
        class="px-4 py-2 text-navy font-medium rounded-lg hover:bg-navy/10 transition duration-300"
        >Log In</a
      >
      <a href="#" class="btn-primary">Register</a>
    </div>
  </nav>
</header>
