---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title, description, locale } = Astro.props;
---

<BaseLayout title={title} description={description} locale={locale}>
  <NavBar />
  <main class="px-10 md:px-20 lg:px-40 justify-center">
    <slot />
  </main>
  <Footer />
</BaseLayout>
