---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title, description, locale } = Astro.props;
---

<BaseLayout title={title} description={description} locale={locale}>
  <NavBar />
  <main
    class="px-4 sm:px-6 md:px-12 lg:px-20 xl:px-80 max-w-7xl mx-auto justify-center"
  >
    <slot />
  </main>
  <Footer />
</BaseLayout>
