---
import CannabisIcon from "./CannabisIcon.astro";
---

<div class="flex items-center space-x-3">
  <CannabisIcon class="w-8 h-8 fill-primary-950 dark:fill-primary-50" />
  <span class="text-2xl font-bold text-primary-950 dark:text-primary-50"
    >CannaLog</span
  >
</div>
