---
const { text, link, onClick } = Astro.props;
---

<a
  href={link}
  onclick={onClick ? onClick : null}
  class="text-white bg-primary-300 dark:bg-secondary-400 box-border border border-transparent hover:bg-primary-400 dark:hover:bg-secondary-500 focus:ring-4 focus:ring-primary-600 shadow-xs font-medium leading-4 rounded-xl px-3 sm:px-4 py-2 sm:py-2.5 text-xs sm:text-sm whitespace-nowrap focus:outline-none"
>
  {text}
</a>
